debug={{ traefik_config.debug_mode }}

[accessLog]
filePath = "{{ traefik_config.logs.root }}{{ traefik_config.logs.access }}"

[traefikLog]
filePath = "{{ traefik_config.logs.root }}{{ traefik_config.logs.app }}"


logLevel = "{{ traefik_config.log_level }}"
IdleTimeout = "{{ traefik_config.idle_timeout }}"
MaxIdleConnsPerHost = {{ traefik_config.max_idle_conns_per_host }}

defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.http.redirect]
  entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
{% if dev_traefik_services is defined %}
      [[entryPoints.https.tls.certificates]]
      certFile = "dev_services.crt"
      keyFile = "dev_services.key"
{% endif %}

[acme]
  email = "{{ traefik_config.certificates.email }}"
  entryPoint = "https"
  storage = "{{ traefik_config.certificates.storage }}"
  OnHostRule = true
  acmeLogging = true

  [acme.httpChallenge]
    entryPoint = "http"

[web]
address = ":{{ traefik_config.http_port }}"

[web.statistics]
RecentErrors = 10

[web.auth.basic]
users = ["{{ traefik_config.web_user }}:{{ traefik_config.web_pass }}"]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "{{ traefik_config.docker_domain }}"
watch = true
exposedbydefault = false

[file]
directory = "{{ traefik_config.service_directory }}/"
watch = true
