[backends]
[backends.{{ service }}_backend]
[backends.{{ service }}_backend.servers.server0]
url = "{{ url }}"

[frontends]
[frontends.{{ service }}]
entryPoints = ["http", "https"]
backend = "{{ service }}_backend"
passHostHeader = true
[frontends.{{ service }}.routes.route0]
rule = "Host:{{ route }}"
