http:
  routers:
{% for server in frontends.servers %}
{% set _server = frontends.servers[server] %}
{% for route in _server['routes'] %}
{% set _route = _server['routes'][route] %}
    router_{{ service }}:
      rule: "{{ _route['rule'] }}"
      service: {{ service }}
      middlewares:
        - https-only
      # we use default tls for now
      tls:
        certResolver: default
        
{% endfor %}
{% endfor %}
  services:
    {{ service }}:
      loadBalancer:
        servers:    
{% for server in backends.servers %}
{% set _server = backends.servers[server] %}
          - url: "{{ _server['url'] }}"
{% endfor %}

http:
  middlewares:
    https-only:
      redirectScheme:
        scheme: https